body {
  background-color: #FF7F50
}

header,footer {
  color: #FFFAF0
}

h1 {
  text-align: center;
}

p {
  color: #FFA500;
  font-style: italic;
}

ul{
  font-family: Times;
}

img {
  width: 500px
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
